<template lang='pug'>
p.test Test {{ count }}

button(@click='add') Add
</template>

<script lang='ts'>
import { defineComponent } from 'vue';

console.log('test log');

export default defineComponent({
  data() {
    return {
      count: 1,
    };
  },
  methods: {
    add() {
      this.count++;
    },
  },
});
</script>

<style lang='sass' scoped>
.test
  color: #8d41ff
  font-weight: bold
</style>